transformers==4.31.0
datasets
deepspeed==0.10.0
accelerate==0.21.0
peft>=0.4.0
openai
evaluate>=0.4.0
tokenizers>=0.13.3
protobuf
openai
tiktoken
rouge_score
tensorboard
wandb
gradio
termcolor
jsonlines
unidic-lite
einops
auto-gptq
fire
# for human eval web app
flask
vllm
jupyterlab
scikit-learn
scipy
packaging
sentencepiece